@import url("https://fonts.googleapis.com/css2?family=Exo+2:wght@400;600;700&family=Fira+Sans:wght@400;500;700&display=swap");
:root {
  --color-coral: #ED6A5A;
  --color-buttercream: #F4F1BB;
  --color-seafoam: #9BC1BC;
  --color-indigo: #5D576B;
  --color-sage: #E6EBE0;
  --font-heading: "Exo 2", sans-serif;
  --font-body: "Fira Sans", sans-serif;
}

body {
  font-family: var(--font-body);
  background-color: var(--color-seafoam);
  color: var(--color-indigo);
  margin: 0;
  padding: 0;
}

h1, h2, h3 {
  font-family: var(--font-heading);
  color: var(--color-coral);
}

header {
  padding: 0;
  margin: 0;
  background-color: var(--color-sage);
  text-align: center;
  border-radius: 1rem;
  border-bottom: 10px solid var(--color-indigo);
  border-right: 5px solid var(--color-indigo);
}
header h1 {
  text-align: center;
  font-size: 10rem;
  padding: 1rem;
  margin-bottom: 0;
  margin-top: 1rem;
  padding-bottom: 0;
}
header p {
  text-align: center;
  font-size: 1rem;
  padding: 1rem;
  margin-top: 0;
  margin-bottom: 0rem;
  padding-top: 0;
}
header #auth-nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
}
header #auth-nav a {
  text-decoration: none;
  color: var(--color-sage);
  background-color: var(--color-coral);
  border-radius: 1rem;
  padding: .75rem;
  margin-right: 1rem;
  margin-bottom: 1rem;
  margin-top: 0rem;

}

main {
  margin: 1rem;
  padding: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
}
main .more-info {
  background-color: var(--color-sage);
  border-radius: 1rem;
  margin: 1rem;
  margin-left: 3rem;
  padding: 3rem;
  padding-top: 0;
  border-bottom: 10px solid var(--color-indigo);
  border-right: 5px solid var(--color-indigo);
}

.todo h2 {
  color: var(--color-sage);
  text-transform: uppercase;
  margin: 0;
  padding: 0;
}
.todo .finished {
  background-color: var(--color-coral);
  border-radius: 1rem;
  text-align: left;
  padding: 0.5rem;
  padding-top: 1rem;
  margin-top: 1rem;
  height: auto;
  color: var(--color-sage);
  border-bottom: 10px solid var(--color-indigo);
  border-right: 5px solid var(--color-indigo);
}
.todo form {
  margin: 0 auto;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 1rem;
}
.todo form input {
  margin: 0.25rem;
  padding: 0.5rem;
  width: 80%;
  border-radius: 0.5rem;
  font-family: var(--font-body);
  background-color: var(--color-sage);
  border: none;
  border-bottom: 5px solid var(--color-indigo);
  border-right: 3px solid var(--color-indigo);
}
.todo form button {
  padding: 0.5rem;
  width: 20%;
  border-radius: 0.5rem;
  font-family: var(--font-body);
  background-color: var(--color-coral);
  border: none;
  color: var(--color-sage);
  border-bottom: 5px solid var(--color-indigo);
  border-right: 3px solid var(--color-indigo);
}

img {
  width: 10%;
  margin: 0 auto;
  display: block;
}

footer {
  background-color: var(--color-sage);
  border-radius: 1rem;
  position: fixed;
  bottom: 0;
  left: 0rem;
  width: 100%;
  padding: 0.5rem;
  text-align: center;
  border-bottom: 10px solid var(--color-indigo);
  border-right: 5px solid var(--color-indigo);
}
.middle-flex{
  justify-content: flex-start;
  width:100%;
}
#alert-info{
  display:none;
  background-color: var(--color-coral);
  border-radius: 1rem;
  margin: 1rem;
  margin-left: 3rem;
  padding: 3rem;
  padding-top: 0;
  border-bottom: 10px solid var(--color-indigo);
  border-right: 5px solid var(--color-indigo);
  grid-row: span 3;
   width: 50vw;
  height: 10vh;

}
.alert-flex{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1rem;
  
}
.alert-info h3{
  color:var(--color-indigo);
  margin: auto;

}
/* ===== MOBILE STYLES ===== */
@media (max-width: 768px) {
  header h1 {
    font-size: 3rem;
  }
  main {
    flex-direction: column;
    align-items: stretch;
  }
  .more-info {
    margin-left: 0;
    padding: 1rem;
  }
  .todo form {
    flex-direction: column;
  }
  .todo form input, .todo form button {
    width: 100%;
  }
  .todo form button {
    margin-top: 0.5rem;
  }
  img {
    width: 40%;
  }
  footer img{
    width: 20%;
  }
}

.middle-flex{
  color:var(--color-sage)
}
#main-content-cal{
  display: flex;
  flex-direction: column;
  align-items: center;
}


#calendar-heading{
  color:var(--color-sage);
  background-color: #ED6A5A;
  padding: 1rem;
  border-radius: 1rem;
  border-bottom: 10px solid var(--color-indigo);
  border-right: 5px solid var(--color-indigo);
}
.calander-flex{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: top;

}
#calander-picker{
  max-height: 125px;
}
#finished-container2 li{
  margin-left: 2rem;

}
#finished-container li{
  margin-left: 0rem;

}

.alerts{
  background-color: var(--color-coral);
  border-radius: 1rem;
  margin: 1rem;
  margin-left: 3rem;
  padding: 3rem;
  padding-top: 0;
  border-bottom: 10px solid var(--color-indigo);
  border-right: 5px solid var(--color-indigo);
}
.reflection-title{
  color:var(--color-sage);
  background-color: #ED6A5A;
  padding: 1rem;
  border-radius: 1rem;
  border-bottom: 10px solid var(--color-indigo);
  border-right: 5px solid var(--color-indigo);
  max-width: 65%;
  margin-left: auto;
  margin-right: auto;
}
.reflection-review{
  color:var(--color-indigo);
  font-size: 1.5rem;
}
.reflection{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-top: 0rem;
}
.answer{
  font-size: 1rem;
  color:var(--color-sage);
  background-color: #ED6A5A;
  padding: .5rem;
  border-radius: 1rem;
  border-bottom: 5px solid var(--color-indigo);
  border-right: 5px solid var(--color-indigo);
  margin-bottom: 0;
 

}
#more-info-reflection{
  max-width: 50%;
  margin-left: auto;
  margin-right: auto;
  padding: 1rem;
  padding-bottom: 0%;
}